h1{
    font-family:"Raleway", sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0px 300px 0 300px;
    color:white;
}
.underline{
    color="white";
    margin: 0px 0px 20px 0px
}
p{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    text-align: center;
    color:white;
    font-weight: 300;
    margin: 0 0 10px 0;
}
.boxes{
    border: 3px solid white;
    padding: 0px 0 0px 0;
    margin: 20px 300px 20px 300px
}
.anchors{
    margin: 30px 0 0 0;
    text-decoration: underline;
    border: 3px solid black;
    padding: 0 200px;
    margin: 40px 390px;
    display: inline-block;
}
h3{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    text-align: center;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}
td{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    text-align: center;
    color:dimgrey;
    font-weight: 300;
}
thead{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    text-align: center;
    color:black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}
.contact{
    background-image: url(forest2.jpg);
    height: 800px;
}
.contactmiddelen{
    display: inline;
}
.contactmiddelen p{
    font-size: 28px;
}
.contactmiddelen img{
    margin: 40px 590px;
}
.title{
     font-family: "Raleway", sans-serif;
    font-size: 24px;
    text-align: center;
    color:black;
    font-weight: 300;
    text-decoration: underline;
}
table{
    margin: 10px 340px 0 340px;
    border-color: white;
}
.wallpaper{
    background-image: url(wallpaper.jpg);
    height: 720px;
}
main{
    background-image: url(forestgood.jpg);
    height: 720px;
}
main h2{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 0;
    margin: 0 0 10px 0;
    text-decoration: underline;
}
.wallpaper2{
    background-image: url(wallpaper3.jpg);
    position: relative;
    z-index: 3;
}
main table tr th{
    color:white;
    font-size: 50px;
    border-color: white;
}
main table tr td{
    color: floralwhite;
    font-size: 28px;
}
nav ul{
    list-style: none;
    background-color: black;
    position: relative;
    padding: 0;
    margin: 0;
}
#tekst{
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    display: block;
}
main h1{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: "Raleway";
    font-size: 24px;
    
}
body{
    margin: 0;
    padding: 0;
}
